<div id="reg-form">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <form class="signup-form" id="registerForm" action="#/register" method="POST">
                    <input type="email" class="form-control" name="email" placeholder="E-mail" required autofocus>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
                    <button class="btn btn-lg btn-info btn-block" id="btn-register" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>